.btn {
  background: black;
  border: none;
  padding: $s-size;
  font-size: $font-size-large;
  font-weight: 300;
  color: white;
  display: inline-block;
  line-height: 1;
  text-decoration: none;
}

.btn--action {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  &:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
}

.btn--login {
  background: $pink;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, $orange, $pink);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, $orange, $pink); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
}

.btn--link {
  background: transparent;
}

.btn--link__invert {
  color: $orange;
  &:hover {
    text-decoration: underline;
  }
}

.btn--warning {
  background: red;
}