* {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.6; }

button {
  cursor: pointer; }

button:disabled {
  cursor: default; }

.box-layout {
  align-items: center;
  background: #333;
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw; }

.box-layout__box {
  background: rgba(255, 255, 255, 0.85);
  border-radius: 3px;
  text-align: center;
  width: 25rem;
  padding: 3.2rem 1.6rem; }

.box-layout__title {
  margin: 0 0 1.6rem 0;
  line-height: 1; }

.btn {
  background: #1c88cb;
  border: none;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-weight: 300;
  color: white;
  display: inline-block;
  line-height: 1;
  text-decoration: none; }

.btn--link {
  background: transparent; }

.btn--warning {
  background: red; }

.header {
  background: #364051; }

.header__title {
  color: white;
  text-decoration: none; }
  .header__title h1 {
    margin: 0; }

.header__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1.2rem 0; }

.container {
  margin: 0 auto;
  padding: 0 1.6rem;
  max-width: 80rem; }

.page-header {
  background: #f7f7f7;
  margin-bottom: 3.2rem;
  padding: 3.2rem 0; }

.page-header__title {
  font-weight: 300;
  margin: 0; }
  .page-header__title span {
    font-weight: bold; }

.page-header__actions {
  margin-top: 1.6rem; }

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.6rem; }
  @media (min-width: 45rem) {
    .input-group {
      flex-direction: row;
      margin-bottom: 3.2rem; } }

.input-group__item {
  margin-bottom: 1.2rem;
  margin-right: 1.2rem; }
  @media (min-width: 45rem) {
    .input-group__item {
      flex-direction: row;
      margin-right: 1.2rem;
      margin: 0 1.2rem 0 0; } }

.text-input, .select, .textarea {
  border: 1px solid #cacccd;
  height: 50px;
  font-size: 1.8rem;
  font-weight: 300;
  padding: 1.2rem; }

.textarea {
  height: 10rem; }

.form {
  display: flex;
  flex-direction: column; }
  .form > * {
    margin-bottom: 1.6rem; }

.form__error {
  margin: 0 0 1.6rem 0;
  font-style: italic; }

@media (min-width: 45rem) {
  .show-for-mobile {
    display: none; } }

@media (max-width: 44.9rem) {
  .show-for-desktop {
    display: none; } }

.list-header {
  background: #f7f7f7;
  border: 1px solid #e5e5e5;
  color: #666;
  display: flex;
  justify-content: space-between;
  padding: 1.2rem 1.6rem; }

.list-body {
  margin-bottom: 1.6rem; }
  @media (min-width: 45rem) {
    .list-body {
      margin-bottom: 3.2rem; } }

.list-item {
  border: 1px solid #e5e5e5;
  border-top: none;
  color: #333;
  display: flex;
  flex-direction: column;
  padding: 1.2rem;
  text-decoration: none;
  transition: background .3s ease; }
  .list-item:hover {
    background: #f7f7f7; }
  @media (min-width: 45rem) {
    .list-item {
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
      padding: 1.6rem; } }

.list-item--empty {
  align-items: center;
  color: #666;
  justify-content: center;
  padding: 1.6rem; }
  .list-item--empty:hover {
    background: none; }

.list-item__title {
  margin: 0;
  word-break: break-all; }

.list-item__sub-title {
  color: #666;
  font-size: 1.4rem; }

.list-item__data {
  margin: 1.2rem 0 0 0; }
  @media (min-width: 45rem) {
    .list-item__data {
      margin: 0;
      padding-left: 1.2rem; } }

.loader {
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center; }

.loader__image {
  height: 6rem;
  width: 6rem; }
